<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/game.css' />
</head>
<body>
<%
if (result) {
    if (result.success && result.msg) {
        __append(`
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            let Toast1 = Swal.mixin({
                toast: true,
                position: 'top-right',
                iconColor: 'white',
                customClass: {
                    popup: 'colored-toast'
                },
                showConfirmButton: false,
                timer: 5000,
                timerProgressBar: true
            })
            Toast1.fire({
                icon: 'success',
                title: \`${result.msg}\`
                })
            })
        </script>
    `)
    } else if (result.msg) {
        __append(`
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            let Toast1 = Swal.mixin({
                toast: true,
                position: 'top-right',
                iconColor: 'white',
                customClass: {
                    popup: 'colored-toast'
                },
                showConfirmButton: false,
                timer: 5000,
                timerProgressBar: true
            })
            Toast1.fire({
                icon: 'error',
                title: \`${result.msg}\`
                })
            })
    </script>
    `)
    }
}
%>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    let socket = io();
    let map, players;
    socket.send({action: "join"});
    socket.emit('join', "<%= result.nickname %>");
    socket.emit('getStatus');
    socket.on('status', (status) => {
        console.log(status);
        map = status.map;
        players = status.players;
        globalGameData = status;
        updateScoreboard(status.size.width*status.size.height);
    })

    let updateScoreboard = (maxScore) => {
        let winners = [];
        for (let player in players) {
            winners.push([players[player].name, players[player].score])
        }
        winners.sort((a, b) => {
            return a[1] - b[1];
        })
        for (let i = 0; i < 7; i++) {
            if (winners[i]) {
                let tempScore = parseInt((parseInt(winners[i][1])/maxScore)*10000)/100;
                document.getElementById(`${i}-place`).innerText = `${i+1}. ${winners[i][0]} - ${tempScore}%`;
            }
        }
    }
</script>

<div class="scoreboard" id="scoreboard">
    <%
        for (let i = 0; i < 7; i++) {
            __append(`<div class="scoreboard__row" id="${i}-place">${i+1}.</div>`)
        }
 %>
</div>

<div class="homePage__button" onclick="window.location = '/'">
    <div class="homePage__button--icon fa fa-home"></div>
</div>
<div class="gameContainer">
    <canvas id="gameCanvas"></canvas>
</div>
<script type="module">
    import { GameManager } from "../javascripts/gameManager.js";
    GameManager.init();
    //gameManager = new GameManager();
    setInterval(() => {
        GameManager.update();
    }, 1000/1)
    setInterval(() => {
        GameManager.draw();
    }, 1000/1)
    // import { Canvas } from "./javascripts/canvasManager.js";
    // let canvas = new Canvas();
    // setInterval(() => {
    //     canvas.update();
    // }, 1000/120)
    // setInterval(() => {
    //     canvas.draw();
    // }, 1000/120)
</script>

</body>
</html>
